<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizontal">
        <div class="field-body">

            <div class="field is-narrow">
                <p class="control">
                    <input type="number" required name="amount" class="input small" placeholder="Amount" [ngModel]="item.amount">
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <input type="text" required name="description" class="input" placeholder="Description" [ngModel]="item.description">
                </p>
            </div>

            <div class="field is-narrow">
                <button class="button" [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }" type="submit" [disabled]="itemForm.invalid">
                    {{isNewItem ? 'Add' : 'Save'}}
                </button>
            </div>
        </div>
    </div>
</form>